<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GreenChallenge</title>
    <link rel="stylesheet" href="../../tailwind.min.css">

    <link rel="manifest" href="manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="GC">
<meta name="apple-mobile-web-app-title" content="GC">
<meta name="theme-color" content="#0F9547">
<meta name="msapplication-navbutton-color" content="#0F9547">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/png" sizes="128x128" href="img/logo/logo128.png">
<link rel="apple-touch-icon" type="image/png" sizes="128x128" href="img/logo/logo128.png">
<link rel="icon" type="image/png" sizes="144x144" href="img/logo/logo144.png">
<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="img/logo/logo144.png">
<link rel="icon" type="image/png" sizes="152x152" href="img/logo/logo152.png">
<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="img/logo/logo152.png">
<link rel="icon" type="image/png" sizes="192x192" href="img/logo/logo192.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="img/logo/logo192.png">
<link rel="icon" type="image/png" sizes="512x512" href="img/logo/logo512.png">
<link rel="apple-touch-icon" type="image/png" sizes="512x512" href="img/logo/logo512.png">
   
</head>

<body>