<%- include('partials/header') %>
<div class="flex flex-col items-center">
    <img class="w-56 mt-5" src="../img/logo/logo.png" alt="GreenChallenge">
    <p class="text-3xl text-center font-serif text-gray-700">GreenChallenge !!!<br>
        l'écologie par un défi</p>
    <a href="/connecter"><button class="bg-green-400 hover:bg-green-600 text-white text-3xl font-bold py-6 px-6 mb-12 mt-8 rounded-full">
        Se connecter
    </button></a>
    <a href="/visiteur"><button class="bg-green-700 hover:bg-green-600 text-white text-3xl font-bold py-6 px-12 rounded-full">
        S'inscrire
    </button></a>
    <div class="flex mt-20">
        <a href="/mention"><p class="mr-5 text-green-400">Mentions légale</p></a>
        <a href="/politique"><p class="text-green-700">Politique de confidentialité</p></a>

    </div>
</div>

<%- include('partials/footer') %>