<%- include('partials/header') %>
<div class="">
    <div class="flex justify-between">
        <a href=""><img class="w-10 h-10 mt-3 ml-3" src="../img/avatar.png" alt="avatar"></a>
        <img class="mr-3 -m-4" src="../img/logo/logo144.png" alt="greenchallenge">
    </div>
    <form class="flex flex-col items-center" method="POST" action="/createdefi">
        <h2 class="text-green-700 font-bold text-xl">Ajouter un challenge...</h2>
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Nom de l'événement" name="nom">
        <input class="shadow appearance-none border rounded w-72 py-2 px-3 text-center text-sm leading-tight focus:outline-none focus:shadow-outline mt-4" type="file" name="photo" value="photo">
        <p class="text-xl text-green-500">Date</p>
        <input class="mt-1 bg-white shadow appearance-none border rounded w-48 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="date" name="date">
        <p class="text-xl text-green-500 m-2">Heure</p>
        <div class="flex mb-2">
                <label class="ml-2 mt-3">A :</label><input class="mt-2 bg-white shadow appearance-none border rounded w-20 text-center text-xl leading-tight focus:outline-none focus:shadow-outline ml-2" type="time" name="heure">
        </div>
        <p class="text-xl text-green-500">Lieu</p>
        <input class="mt-1 shadow appearance-none border rounded w-64 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" name="adresse">
        <p class="text-xl text-green-500 m-2">Description</p>
    <textarea class="mt-1 shadow appearance-none border rounded w-64 h-20 py-2 px-3 text-center text-xl text-gray-900 leading-tight focus:outline-none focus:shadow-outline" name="description" type="text" rows="5" cols="70"></textarea>
    <a href="/ajouterdefi"><button class="mt-5 bg-green-700 text-white text-xl font-bold py-2 px-4 rounded-full w-40 h-12 mb-4">Ajouter</button></a>
    </form>

</div>
<%- include('partials/footer') %>