<%- include('partials/header') %>
<div class="flex flex-col items-center">
    <img class="w-56 mt-5" src="../img/logo/logo.png" alt="GreenChallenge">
    <form class="flex flex-col items-center" method="POST" action="/formconnect">
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Identifiant" name="pseudo">
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Mot de Passe" name="motdepasse">
        <a href=""><p class="mt-5 text-green-400 text-lg">Mot de passe oublié ?</p></a>
        <a href="/menu"><button class="bg-green-700 hover:bg-green-600 text-white text-3xl font-bold py-6 px-12 mt-16 rounded-full">Connexion</button></a>
    </form>
</div>
<%- include('partials/footer') %>