<%- include('partials/header') %>
<div class="">
    <div class="flex justify-between">
        <a href=""><img class="w-10 h-10 mt-3 ml-3" src="../img/avatar.png" alt="avatar"></a>
        <img class="mr-3 -m-4" src="../img/logo/logo144.png" alt="greenchallenge">
    </div>
    <div class="border border-blue-500 flex justify-around py-8 mx-3">
       <a href="/defi"> 
            <p><%=photo%></p>
            <p><%=nom%></p>
       </a>
    </div>
</div>
<%- include('partials/footer') %>