<%- include('partials/header') %>

    <div class="flex justify-between">
        <a href="/profil"><img class="w-10 h-10 mt-3 ml-4" src="../img/avatar.png" alt="avatar"><p class="ml-3"><%=pseudo%></p></a>
        <img class="mr-3 -m-4" src="../img/logo/logo144.png" alt="greenchallenge">
    </div>
<div class="flex flex-col items-center mt-8">
    <a href="/listedefi"><button class="bg-green-400 hover:bg-green-600 text-white text-3xl font-bold py-6 px-8 mb-12 mt-16 rounded-full">
        Nos Challenges
    </button></a>
    <a href="/ajouterdefi"><button class="bg-green-700 hover:bg-green-600 text-white text-3xl font-bold py-6 px-10 rounded-full">
        Ajouter un défi
    </button></a>
    <div class="flex mt-40">
        <a href="/mention"><p class="mr-5 text-green-400">Mentions légale</p></a>
        <a href="/politique"><p class="text-green-700">Politique de confidentialité</p></a>

    </div>
</div>
<%- include('partials/footer') %>