<%- include('partials/header') %>
<img class="w-56 mt-5 mx-20" src="../img/logo/logo.png" alt="GreenChallenge">
<div>
    <img class="w-46 mx-32 mt-5" src="../img/avatar.png" alt="avatar">
    <h2 class="text-center text-green-700 text-4xl"><%=pseudo%></h2>
</div>
<div class="flex flex-col items-center -m-4">
    <a href=""><button class="bg-green-400 hover:bg-green-600 text-white text-3xl font-bold py-6 px-8 mb-12 mt-16 rounded-full">
        Défis réalisés
    </button></a>
    <a href=""><button class="bg-green-700 hover:bg-green-600 text-white text-3xl font-bold py-6 px-10 rounded-full">
        Défis en cours
    </button></a>
<%- include('partials/footer') %>