<%- include('partials/header') %>
<div class="flex flex-col items-center">
    <img class="w-56 mt-5" src="../img/logo/logo.png" alt="GreenChallenge">
    <form class="flex flex-col items-center" method="POST" action="/formajout">
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Identifiant" name="pseudo"required>
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="E-mail" name="email"required>
        <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Mot de Passe" name="motdepasse"required>
        <a href="/menu"><button class="bg-green-700 hover:bg-green-600 text-white text-3xl font-bold py-6 px-12 mt-16 rounded-full">Soumettre</button></a>
    </form>
</div>    
<%- include('partials/footer') %>